@if(loading()) {
<div class="container d-flex justify-content-center"><app-load /></div>
} @if (!user() && !loading()) {
<div class="container text-center mt-5">
  <h1 class="display-3 text-danger">Error</h1>
  <h2 class="mb-3">Usuario no disponible</h2>
  <a class="btn btn-secondary" routerLink="/home">Volver al dashboard</a>
</div>
} @else {
<div class="container d-flex flex-column flex-md-row align-items-center">
  <div class="col-12 col-md-4 text-center text-md-start me-md-4">
    <img
      class="w-75 w-md-50 rounded-circle"
      [src]="user()?.image"
      alt="Imagen de usuario"
    />
  </div>

  <hr class="w-100 my-4 d-md-none" />

  <div class="col-12 col-md-8">
    <h2>{{ user()?.first_name }}</h2>
    <h4>{{ user()?.last_name }}</h4>
    <div class="mt-4">
      <p class="m-0">Nombre de usuario: {{ user()?.username }}</p>
      <p class="m-0">Email: {{ user()?.email }}</p>
    </div>

    <hr class="my-4 d-none d-md-block" />

    <div class="my-4">
      <div class="btn-group w-75" role="group">
        <button type="button" class="btn btn-secondary" routerLink="">
          <img class="w-25" src="search.svg" alt="" />
          <p>Volver</p>
        </button>
        <button type="button" class="btn btn-warning">
          <img class="w-25" src="refresh.svg" alt="" />
          <p>Actualizar</p>
        </button>
        <button type="button" class="btn btn-danger" (click)="toggleModal()">
          <img class="w-25" src="bin.svg" alt="" />
          <p>Eliminar</p>
        </button>
      </div>
    </div>
  </div>
</div>
}

<app-deletemodal
  [isVisible]="modal()"
  (cancel)="toggleModal()"
  (delete)="deleteUser()"
/>
