<div class="container mt-5">
    <div class="my-5">
        <h2>{{ formMeta.title }}</h2>
    </div>
    <form>
        <div class="mb-3">
            <label for="firstName" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Imagen usuario</label>
            <input type="url" class="form-control" id="image">
        </div>
      
        <button class="btn btn-cta mt-2">{{ formMeta.submit }}</button>
    </form>
</div>