@if (this.formSucess()) {
<div class="alert alert-success" role="alert">
  El usuario se ha
  {{ formType() === "create" ? "guardado" : "actualizado" }} correctamente
</div>
} @if (this.formError()) {
<div class="alert alert-danger" role="alert">
  El usuario no se ha podido
  {{ formType() === "create" ? "guardar" : "actualizar" }}
</div>
}

<div class="container mt-5">
  <div class="my-5">
    <h2>{{ formMeta.title }}</h2>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
      <label for="firstName" class="form-label">Nombre de usuario</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="userName"
        placeholder="Alan"
      />
      @if (controls.userName.touched && !controls.userName.valid) {
      <p class="text-danger">El nombre es obligatorio</p>
      }
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        placeholder="Turing"
      />
      @if(controls.lastName.touched && !controls.lastName.valid) {
      <p class="text-danger">El apellido es obligatorio</p>
      }
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="alan@turing.com"
      />
      @if(controls.email.touched && controls.email.hasError("required")) {
      <p class="text-danger">El email es obligatorio</p>
      } @if(controls.email.touched && controls.email.hasError("email")) {
      <p class="text-danger">Introduce un email válido</p>
      }
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Imagen usuario</label>
      <input
        type="url"
        class="form-control"
        id="image"
        formControlName="image"
        placeholder="https://www.domain.com/image.jpg"
      />
      @if(controls.image.touched && controls.image.hasError("required")) {
      <p class="text-danger">La url de imagen es obligatoria</p>
      } @if (controls.image.touched &&
      controls.image.hasError("invalidImageUrl")) {
      <p class="text-danger">Introduce una url de imagen válida</p>
      }
    </div>

    @if (userForm.dirty && userForm.valid && !this.formIsSubmitting()) {
    <button type="submit" class="btn btn-cta mt-2">
      {{ formMeta.submit }}
    </button>
    } @if (this.formIsSubmitting()) {
    <app-load />
    }
    <button class="btn btn-secondary mt-2 mx-2" routerLink="">Cancelar</button>
  </form>
</div>
