.navbar-user-management {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 3px solid var(--primary);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: var(--primary);
}

.navbar-brand img {
  height: 40px;
}

.btn-cta {
  background-color: var(--primary);
  color: white;
}
